<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.online.shop.dao.mybatisiml.UserMapper">

    <resultMap id="userResult" type="com.online.shop.model.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="userResult">
        SELECT user_id, username, email, password
        FROM users
        WHERE user_id = #{userId};
    </select>

    <select id="findAll" resultMap="userResult">
        SELECT user_id, username, email, password
        FROM users;
    </select>

    <insert id="insert" parameterType="com.online.shop.model.User">
        INSERT INTO users (user_id, username, email, password, user_type, priority)
        VALUES (#{userId}, #{username}, #{email}, #{password}, 'Customer', 2);
    </insert>

    <update id="update" parameterType="com.online.shop.model.User">
        UPDATE users
        SET username = #{username},
        email = #{email},
        password = #{password}
        WHERE user_id = #{userId};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM users WHERE user_id = #{userId};
    </delete>

</mapper>
